


				<div id="content">
					<form class="jqtransform">
					<!-- Page Header -->
					<div class="page">
						<div class="left">
							<h1>Create your invoice in 5 easy steps!</h1>
						</div>
					</div>
					<!-- BEGIN MAIN -->
					<div id="main-whole">
						
						<div class="grid_12 entry">
							<h2>1. Choose a template:</h2>
						</div>
									
						<div class="portfolio-item-3"> 
							<h3>Template 1</h3>
							<div class="portfolio-image">
								<a href="assets/preview_image.png" rel="prettyPhoto" class="vtip" title="Silverado">
									<img src="assets/portfolio1.jpg" alt="" class="image-left" />
								</a>
							</div>
							<div class="clear"></div>
							<ul class="list">
									<li>XHTML/CSS Valid</li>
									<li>Jquery Enhanced</li>
									<li>30 Layered PSD Files</li>
								</ul>
							<p>
								<a href="assets/preview_image.png" rel="prettyPhoto" class="button" title="Silverado"><span>Preview</span></a>							
								<a href="#" class="button-2 select-template-button"><span>Select</span></a>	
							</p>
						</div>
										
						<div class="portfolio-item-3"> 
							<h3>Template 2</h3>
							<div class="portfolio-image">
								<a href="assets/preview_image.png" rel="prettyPhoto" class="vtip" title="Business News">
									<img src="assets/portfolio6.jpg" alt="" class="image-left" />
								</a>
							</div>
							<div class="clear"></div>
							<ul class="list">
									<li>XHTML/CSS Valid</li>
									<li>Jquery Enhanced</li>
									<li>30 Layered PSD Files</li>
								</ul>
							<p>
								<a href="assets/preview_image.png" rel="prettyPhoto" class="button" title="Business News"><span>Preview</span></a>
								<a href="#" class="button-2 select-template-button"><span>Select</span></a>	
							</p>
						</div>
										
						<div class="portfolio-item-3 last"> 
							<h3>Template 3</h3>	
							<div class="portfolio-image">
								<a href="assets/preview_image.png" rel="prettyPhoto" class="vtip" title="My Portfolio">
									<img src="assets/portfolio3.jpg" alt="" class="image-left" />
								</a>
							</div>
							<div class="clear"></div>
							<ul class="list">
								<li>XHTML/CSS Valid</li>
								<li>Jquery Enhanced</li>
								<li>30 Layered PSD Files</li>
							</ul>
							<p>
								<a href="assets/preview_image.png" rel="prettyPhoto" class="button" title="My Portfolio"><span>Preview</span></a>
								<a href="#" class="button-2 select-template-button"><span>Select</span></a>	
							</p>
						</div>
						<div class="clear"></div>
						<div class="divider-20"></div>	
						<div class="hor-border"></div>
						<div class="divider-20"></div>
						<div class="grid_12 entry">
							<h2>2. Enter company and client details:</h2>
							<div class="grid_6 entry">
								<h3>Your company</h3>
								<div class="hor-border"></div>
								<div class="divider-10"></div>
								<div class="rowElem"><label>Name</label><input type="text" size="20" name="Name" id="name" title="Name" /></div>
								<div class="rowElem"><label>Address 1</label><input type="text" size="20" name="Email" id="email" title="Email" /></div>
								<div class="rowElem"><label>Address 2</label><input type="text" size="20" name="Email" id="Text3" title="Email" /></div>
								<div class="rowElem"><label>Address 3</label><input type="text" size="20" name="Email" id="Text4" title="Email" /></div>
								<div class="rowElem"><label>Registration number</label><input type="text" size="20" name="Email" id="Text7" title="Email" /></div>
								<div class="rowElem"><label>VAT registration number</label><input type="text" size="20" name="Email" id="Text8" title="Email" /></div>
							</div>
							<div class="grid_6 entry last">
								<h3>Client details</h3>
								<div class="divider-10"></div>
								<div class="rowElem"><label>Name</label><input type="text" size="20" name="Name" id="Text1" title="Name" /></div>
								<div class="rowElem"><label>Address 1</label><input type="text" size="20" name="Email" id="Text2" title="Email" /></div>
								<div class="rowElem"><label>Address 2</label><input type="text" size="20" name="Email" id="Text5" title="Email" /></div>
								<div class="rowElem"><label>Address 3</label><input type="text" size="20" name="Email" id="Text6" title="Email" /></div>
							</div>
						</div>
						<div class="divider-20"></div>
						<div class="hor-border"></div>
						<div class="divider-20"></div>
						<div class="grid_12 entry">
							<h2>3. Enter invoice items:</h2>
							<div class="grid_9 entry">
								<div class="rowElem"><label>Item 1 description</label><input type="text" size="50" name="Name" id="Text9" title="Name" /></div>
								<div class="rowElem"><label>Item 2 description</label><input type="text" size="50" name="Name" id="Text10" title="Name" /></div>
								<div class="rowElem"><label>Item 3 description</label><input type="text" size="50" name="Name" id="Text11" title="Name" /></div>
							</div>
						</div>
						<div class="divider-20"></div>
						<div class="hor-border"></div>
						<div class="divider-20"></div>
						<div class="grid_12 entry">
							<h2>4. Choose a format:</h2>
							<div class="portfolio-item-3"> 
								<h3>HTML</h3>
								<div class="portfolio-image">
									<img src="assets/html.png" alt="" class="image-left" />
								</div>
								<div class="clear"></div>
								<p>
									<a href="#" class="button-2 select-format-button"><span>Select</span></a>	
								</p>
							</div>
							<div class="portfolio-item-3"> 
								<h3>Word</h3>
								<div class="portfolio-image">
									<img src="assets/docx_mac.png" alt="" class="image-left" />
								</div>
								<div class="clear"></div>
								<p>
									<a href="#" class="button-2 select-format-button"><span>Select</span></a>	
								</p>
							</div>
										
							<div class="portfolio-item-3 last"> 
								<h3>PDF</h3>	
								<div class="portfolio-image">
									<img src="assets/pdf.png" alt="" class="image-left" />
								</div>
								<div class="clear"></div>
								<p>
									<a href="#" class="button-2 select-format-button"><span>Select</span></a>	
								</p>
							</div>
						</div>
						<div class="hor-border"></div>
						<div class="divider-20"></div>
						<div class="grid_12 entry">
							<h2>5. Download / Preview / Email:</h2>
						</div>
						
						<div class="clear"></div>
					</div>
					<!-- END OF MAIN -->
				
				
					</form>
				</div>
	