<div id="content">
					<!-- Page Header -->
					<div class="page">
						<div class="left">
							<h1>About Us</h1>
						</div>
					</div>
					<!-- BEGIN MAIN -->
					<div id="main-whole">
						
						<h2>Never Heard of Us? &lt;h2&gt;</h2>
						<p>
							<span class="quote_right">Fusce enim turpis, tristique in, luctus nec duis sit. Amet leo non tortor tempus. Quisque eget turpis</span> 
							Integer eu velit ut mi aptent porttitor mollis donec ad litora nibh. Amet elit. Pellentesque ac augue. Pellentesque magna mauris, pretium vitae, auctor sit amet, vehicula ac, tellus. Cras nulla velit, varius ac, semper in, ullamcorper vel, nunc. Integer eu velit ut mi porttitor mollis. 
						</p>
						
						<p>Lorem isum dolor donec ad litora. Pellentesque magna mauris, pretium vitae, auctor sit amet. Integer eu velit ut mi aptent porttitor mollis donec ad litora nibh.  Pellentesque magna mauris.Integer eu velit ut mi aptent porttitor mollis donec ad litora nibh.  Pellentesque magna mauris.</p>
						<p>Aptent porttitor mollis donec ad litora nibh. Amet elit. Pellentesque ac augue. Pellentesque magna mauris, pretium vitae, auctor sit amet, vehicula ac, tellus. Cras nulla velit, varius ac, semper in, ullamcorper vel, nunc. Integer eu velit ut mi porttitor mollis. </p>
						
						<div class="clear"></div>
						<!-- Let's use the 15px gap for this one -->
						<div class="divider-15"></div>	
						
						<h3>Image Left</h3>
						<p>
							<img src="assets/portfolio5.jpg" alt="Image" class="image-left" />
							Integer eu velit ut mi aptent porttitor mollis donec ad litora nibh. Amet elit. Pellentesque ac augue. Pellentesque magna mauris, pretium vitae, auctor sit amet, vehicula ac, tellus. Cras nulla velit, varius ac, semper in, ullamcorper vel, nunc. Integer eu velit ut mi porttitor mollis. 
							Lorem isum dolor donec ad litora. Pellentesque magna mauris, pretium vitae, auctor sit amet. Pellentesque magna mauris, pretium vitae, auctor sit amet. Integer eu velit ut mi aptent porttitor mollis.
						</p>
						
						<div class="clear"></div>
						<!-- Let's use the 15px gap for this one -->
						<div class="divider-15"></div>	
						
						
						<h3>Image Right</h3>
						<p>
							<img src="assets/portfolio6.jpg" alt="Image" class="image-right" />
							Integer eu velit ut mi aptent porttitor mollis donec ad litora nibh. Amet elit. Pellentesque ac augue. Pellentesque magna mauris, pretium vitae, auctor sit amet, vehicula ac, tellus. Cras nulla velit, varius ac, semper in, ullamcorper vel, nunc. Integer eu velit ut mi porttitor mollis. 
						</p>
						
						
					</div>
					<!-- END OF MAIN -->
				</div>